/* Footer Styles */
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

h2 {
    display: flex;
    align-items: center;
    justify-content: center;
}
#registrar {
    margin: auto;
}

.container {
    border-radius: 5px;
}

